html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffbe2f;
  color: #3d3d3d;
  font-family: "Anek Telugu", sans-serif;
  letter-spacing: 0.025rem;
}

h1 {
  font-size: 5rem;
  font-weight: 600;
  line-height: 2rem;
}

h2 {
  font-size: 2.6rem;
  width: 45%;
  line-height: 100%;
  text-transform: uppercase;
}

h3 {
  font-size: 1.2rem;
  width: 100%;
}

p,
a {
  font-size: 1.2rem;
  line-height: 120%;
  font-weight: 200;
}

a {
  color: black;
}

a:hover {
  font-weight: 400;
  color: black;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

li {
  margin-top: 3rem;
}

ul h3 {
  margin-bottom: 0.5rem;
}

.invert-text {
  color: white;
}

.hero-heading {
  position: absolute;
  left: -4rem;
}

.hero-subheading {
  width: fit-content;
  margin: 0;
  place-self: center;
}

/* CONTAINERS  */

.container {
  margin: auto;
  width: 80%;
  display: flex;
}

.flex-container {
  display: flex;
}

.list-container {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  flex-wrap: wrap;
  gap: 0.5em 1.5em;
  font-size: 0.85em;
}
.container-col {
  flex-direction: column;
}

.container-row {
  flex-direction: row;
  justify-content: space-between;
}

.content-container {
  padding: 4rem 0;
}

.intro-container {
  height: 100%;
}

.intro-text-container {
  width: 100%;
  height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.intro-text-container h2 {
  font-size: 3.4rem;
  line-height: 120%;
  font-weight: 200;
  color: #3d3d3d;
  text-transform: none;
}

.intro-text-container h3 {
  font-size: 1.5rem;
  line-height: 120%;
  font-weight: 200;
  color: #3d3d3d;
  text-transform: none;
  margin-bottom: 1rem;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;
}

.grid-text {
  grid-column: span 2 / span 2;
}

.grid-image {
  grid-column: span 1 / span 1;
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-image img {
  max-width: 100%;
}

.small-screen-image {
  display: none;
}

.content-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.content-center {
  align-items: center;
}

.text-image-container {
  height: 75vh;
  max-height: 785px;
  width: 100vw;
}

.content-section {
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  position: relative;
}

.social-media-wrapper {
  display: flex;
  gap: 1rem;
}

.green-block {
  background-color: white;
}
.blue-block {
  background-color: #398fa0;
}

/* IMAGE */

.centered {
  height: 100%;
  width: 40%;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.image-container {
  padding-top: 2rem;
  width: 33%;
  place-self: flex-end;
}

.image {
  width: 100%;
}

/* NAVBAR  */
.navbar {
  width: 100%;
  display: flex;
  background-color: #ffbe2f;
  padding: 2rem 0;
  z-index: 10;
  gap: 1rem;
  justify-content: flex-end;
}
.navbar-item {
  text-decoration: none;
}

.text-container {
  width: 50%;
  height: fit-content;
  padding: 4rem 4rem 4rem 10vw;
}

navbar-item:hover {
  font-weight: 700;
}

.subheading {
  font-weight: 200;
  font-style: normal;
  font-size: 1.2rem;
  margin: 0.3rem 0;
}

/* AVATAR */

.avatar-banner {
  display: flex;
  width: 100%;
  justify-content: space-between;
  row-gap: 4rem;
  col-gap: 1rem;
  height: fit-content;
  flex-wrap: wrap;
}

.avatar {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: top;
  flex-direction: row;
  gap: 2rem;
}

.avatar-row {
  width: 47%;
}

.avatar-row h3 {
  font-size: 1rem;
}

.avatar-row p {
  font-size: 0.8rem;
}

.avatar p {
  font-size: 1rem;
}

.avatar h3 {
  margin: 0;
  font-size: 1.6rem;
  text-transform: none;
  width: fit-content;
}

.avatar-image {
  width: 20%;
  height: 20%;
}

.avatar-row .avatar-image {
  width: 33%;
  height: 33%;
}

.avatar-title {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: flex-end;
}

/* LISTS  */

.content-list {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 300;
}
.long-heading {
  width: 100%;
}
/* ANIMATIONS  */

.scrollable {
  opacity: 0;
  transition: opacity 500ms;
}

.scrollable.scrolled {
  opacity: 1;
}

.fade-in {
  animation: fade-in 1.4s ease-in-out both;
}

.text-shadow-pop-bl {
  color: white;
  -webkit-animation: text-shadow-pop-bl 0.6s both;
  animation: text-shadow-pop-bl 0.6s both;
}

.tracking-in-expand {
  -webkit-animation: tracking-in-expand 2s 0.5s both;

  animation: tracking-in-expand 2s 0.5s both;
}
@media screen and (prefers-reduced-motion: reduce) {
  .scrollable {
    opacity: 1;
  }
  .scrolled {
    animation: none !important;
  }
}

@-webkit-keyframes text-shadow-pop-bl {
  0% {
    text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555,
      0 0 #555555, 0 0 #555555, 0 0 #555555;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  100% {
    text-shadow: -1px 1px #555555, -2px 2px #555555, -3px 3px #555555,
      -4px 4px #555555, -5px 5px #555555, -6px 6px #555555, -7px 7px #555555,
      -8px 8px #555555;
    -webkit-transform: translateX(8px) translateY(-8px);
    transform: translateX(8px) translateY(-8px);
  }
}
@keyframes text-shadow-pop-bl {
  0% {
    text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555,
      0 0 #555555, 0 0 #555555, 0 0 #555555;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  100% {
    text-shadow: -1px 1px #555555, -2px 2px #555555, -3px 3px #555555,
      -4px 4px #555555, -5px 5px #555555, -6px 6px #555555, -7px 7px #555555,
      -8px 8px #555555;
    -webkit-transform: translateX(8px) translateY(-8px);
    transform: translateX(8px) translateY(-8px);
  }
}

/* MEDIA QUERIES  */

@media only screen and (max-width: 1500px) {
  .centered {
    width: 60%;
  }
}
@media only screen and (max-width: 1200px) {
  .centered {
    width: 65%;
  }
}
@media only screen and (max-width: 900px) {
  .intro-text-container {
    height: 25vh;
  }

  .list-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5em 1.5em;
    font-size: 0.85em;
  }
  .list-container-small {
    grid-template-columns: 1fr;
  }

  .full-screen-image {
    display: none;
  }

  .grid-text {
    grid-column: span 3 / span 3;
  }

  .content-list {
    font-size: 1rem;
  }

  .centered {
    height: 0;
    width: 0;
    display: none;
  }

  .intro-text-container h2 {
    font-size: 2rem;
  }

  .intro-text-container h3 {
    font-size: 1rem;
  }
  .text-container {
    width: 50%;
    height: fit-content;
    padding: 1rem 1rem 4rem 10vw;
  }

  .text-image-container {
    height: fit-content;
  }
  /* .content-section {
    min-height: 0;
    max-height: 750px;
  } */
}

@media screen and (max-width: 900px), screen and (min-height: 700px) {
  .intro-text-container {
    height: 33vh;
  }

  .content-section {
    min-height: fit-content;
  }
}

@media only screen and (max-width: 800px) {
  h1 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 100%;
    margin: 3rem auto 1rem auto;
  }

  h2 {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  p,
  a {
    font-size: 1rem;
  }

  .avatar-title {
    /* width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: flex-end; */
    justify-content: center;
    gap: 0;
  }

  .navbar {
    padding: 1rem 0;
  }

  .hero-heading {
    left: 0rem;
  }

  /* .hero-subheading {
    width: fit-content;
    place-self: center;
  } */

  .avatar-banner {
    gap: 2rem;
  }

  .text-container {
    width: 100%;
    padding: 2rem 0;
  }

  .text-image-container {
    height: fit-content;
  }

  .avatar {
    flex-direction: column;
    gap: 1.5rem;
  }

  .avatar-image,
  .avatar-row .avatar-image {
    width: 50%;
    height: 50%;
    place-self: center;
  }

  .avatar-description {
    align-self: center;
  }
  .reversable {
    flex-direction: column-reverse;
  }

  .avatar p,
  a {
    font-size: 0.8rem;
    margin: 0;
  }

  .avatar-row {
    width: 100%;
  }

  .avatar h3 {
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
    margin: 0;
  }

  .subheading {
    width: fit-content;
    font-size: 0.8rem;
    margin: 0 0 0.3rem 0;
  }

  .container {
    width: 90%;
  }

  .content-container {
    padding-top: 2rem;
  }

  .content-section {
    min-height: 50vh;
  }

  .image-container {
    padding-bottom: 0;
    bottom: 1rem;
  }

  .intro-container {
    padding-top: 0;
  }

  .intro-text-container {
    width: 100%;
    height: 25vh;
  }
  .intro-text-container h2 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  .intro-text-container h3 {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 500px) {
  .small-screen-image {
    display: block;
  }
  .content-section {
    min-height: 40vh;
  }
}
